*{
    background-color: #164352;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #87ACA3;
    text-align: center;
}
#MainGameDiv{

}
  #MenuDiv{
    float: left;
  
  }
  canvas{
    float: left;
  }
#GameGuide{
  float: right;
}